.post {
  font-family: Georgia, serif;
}
.preview-container {
  display: inline;
}
.date {
  text-align: end;
  font-size: 69%;
  font-style: italic;
  font-weight: bold;
  color: darkslategrey;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  padding-bottom: 10px;
}

td {
  text-align: left;
}

.three-column td:nth-child(3) {
  text-align: right;
}
