.container {
  font-family: "Courier New", monospace;
  margin: auto;
  max-width: 500px;
  min-height: 100vh;
  position: relative;
}
.footer {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link-item {
  padding-right: 2rem;
}
.resume {
  padding-bottom: 20px;
}