.container {
  font-family: "Andale Mono", "monospace";
  margin: auto;
  max-width: 500px;
  min-height: 100vh;
  position: relative;
}
.footer {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.heading {
  color: darkslategrey;
  font-weight: lighter;
  text-align: center;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
