.container {
  font-family: "Courier New", monospace;

  display: flex;
  flex-direction: column;

  margin: auto;
  max-width: 500px;
  min-height: calc(100vh - 150px);
}

.main {
  margin-bottom: 150px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link-item {
  padding-right: 2rem;
}