.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item:hover {
  filter: drop-shadow(5px 5px 15px darkslategrey);
}

.gallery-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item img:hover {
  transform: scale(1.05);
}
