name: main

on:
  push:
    branches:
      - dev

jobs:
  compile-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Configure Node.js
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 22.21.1

      - name: install
        run: npm i --force

      - name: lint
        run: npm run lint

      - name: compile
        run: npm run compile

      - name: Create .env.production
        run: |
          echo "GATSBY_GOOGLE_MAPS_API_KEY=${{ secrets.GATSBY_GOOGLE_MAPS_API_KEY }}" >> .env.production
          echo "GATSBY_FONTAWESOME_KIT_URL=${{ secrets.GATSBY_FONTAWESOME_KIT_URL }}" >> .env.production

      - name: Gatsby Publish
        uses: steebe/gatsby-gh-pages-action@v2.2.4
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          package-manager-force: true
